// COLORS
$primary-color: #B33902;
$secondary-color: #B33902;
$underline-color: #FFBA10;
$btn-color: #5E7486;
$about-color: #5E7486;
$contact-color: #224B4D;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #FFFAF6;

$dark-grey: #333333;

$dark-blue-text: #1A2135; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
